{
  "openapi": "3.0.1",
  "info": {
    "title": "物联网平台",
    "description": "物联网平台接口文档",
    "contact": {
      "name": "admin"
    },
    "version": "1.11.0-SNAPSHOT"
  },
  "servers": [
    {
      "url": "http://demo.jetlinks.cn:9010",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/rule-engine/model/{id}": {
      "get": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "根据ID查询",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "根据ID修改数据",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleModelEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "根据ID删除",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/instance/{id}": {
      "get": {
        "tags": [
          "规则实例"
        ],
        "summary": "根据ID查询",
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageRuleInstanceEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "规则实例"
        ],
        "summary": "根据ID修改数据",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleInstanceEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "规则实例"
        ],
        "summary": "根据ID删除",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageRuleInstanceEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/history/{id}/_{state}": {
      "put": {
        "tags": [
          "设备告警记录"
        ],
        "summary": "修改告警记录状态",
        "operationId": "changeState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "告警记录ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "path",
            "description": "状态",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "description": "备注"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/history/state/_batch": {
      "put": {
        "tags": [
          "设备告警记录"
        ],
        "summary": "批量修改告警记录状态",
        "operationId": "changeState_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "备注",
                "items": {
                  "$ref": "#/components/schemas/AlarmHistoryState"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/{id}/_stop": {
      "post": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "停止告警配置",
        "operationId": "stopAlarm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/{id}/_start": {
      "post": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "启动告警配置",
        "operationId": "startAlarm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/_query/no-paging": {
      "get": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用GET方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query_4",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListDeviceAlarmEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用POST方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListDeviceAlarmEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/_query": {
      "get": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用GET方式分页动态查询",
        "operationId": "queryPager_4",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultDeviceAlarmEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用POST方式分页动态查询",
        "operationId": "queryPager",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultDeviceAlarmEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/device/alarm/_count": {
      "get": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用GET方式查询总数",
        "operationId": "count_4",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "设备告警配置"
        ],
        "summary": "使用POST方式查询总数",
        "operationId": "count",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/scene/{id}/execute": {
      "post": {
        "tags": [
          "场景管理"
        ],
        "summary": "执行场景",
        "operationId": "execute",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/scene/{id}/_stop": {
      "post": {
        "tags": [
          "场景管理"
        ],
        "summary": "停止场景",
        "operationId": "stopScene",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/scene/{id}/_start": {
      "post": {
        "tags": [
          "场景管理"
        ],
        "summary": "启动场景",
        "operationId": "startScene",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/model": {
      "post": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "新增单个数据,并返回新增后的数据.",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleModelEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "保存数据",
        "description": "如果传入了id,并且对应数据存在,则尝试覆盖,不存在则新增.",
        "operationId": "save",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RuleModelEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageSaveResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/model/{id}/_deploy": {
      "post": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "发布为规则实例",
        "operationId": "deploy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/model/_query": {
      "get": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "使用GET方式分页动态查询",
        "operationId": "queryPager_5",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "使用POST方式分页动态查询",
        "operationId": "queryPager_1",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/rule-engine/model/_query/no-paging": {
      "get": {
        "tags": [
          "规则模型(已弃用)"
        ],
        "summary": "使用GET方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query_5",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListRuleModelEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
[...]
