{
  "openapi": "3.0.1",
  "info": {
    "title": "物联网平台",
    "description": "物联网平台接口文档",
    "contact": {
      "name": "admin"
    },
    "version": "1.11.0-SNAPSHOT"
  },
  "servers": [
    {
      "url": "http://demo.jetlinks.cn:9010",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/notify/history/{id}": {
      "get": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "根据ID查询",
        "operationId": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "根据ID修改数据",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyHistoryEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "根据ID删除",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/template/{id}": {
      "get": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "根据ID查询",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "根据ID修改数据",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyTemplateEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "根据ID删除",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/config/{id}": {
      "get": {
        "tags": [
          "消息通知配置"
        ],
        "summary": "根据ID查询",
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyConfigEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "消息通知配置"
        ],
        "summary": "根据ID修改数据",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyConfigEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "消息通知配置"
        ],
        "summary": "根据ID删除",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyConfigEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/subscription/{id}/_{state}": {
      "put": {
        "tags": [
          "系统通知管理"
        ],
        "summary": "修改通知订阅状态",
        "operationId": "changeSubscribeState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "{text=订阅中, value=enabled}",
                "{text=已停止, value=disabled}"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notify/history": {
      "post": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "新增单个数据,并返回新增后的数据.",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyHistoryEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "保存数据",
        "description": "如果传入了id,并且对应数据存在,则尝试覆盖,不存在则新增.",
        "operationId": "save",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotifyHistoryEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageSaveResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notify/history/_query": {
      "get": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用GET方式分页动态查询",
        "operationId": "queryPager_3",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用POST方式分页动态查询",
        "operationId": "queryPager",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryParamEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notify/history/_query/no-paging": {
      "get": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用GET方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query_3",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用POST方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListNotifyHistoryEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notify/history/_count": {
      "get": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用GET方式查询总数",
        "operationId": "count_3",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "使用POST方式查询总数",
        "operationId": "count",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryParamEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notify/history/_batch": {
      "post": {
        "tags": [
          "消息通知记录"
        ],
        "summary": "批量新增数据",
        "operationId": "add_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotifyHistoryEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageInteger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/{notifierId}/_send": {
      "post": {
        "tags": [
          "消息通知管理"
        ],
        "summary": "发送消息通知",
        "operationId": "sendNotify",
        "parameters": [
          {
            "name": "notifierId",
            "in": "path",
            "description": "通知配置ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNotifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageVoid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/template": {
      "post": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "新增单个数据,并返回新增后的数据.",
        "operationId": "add_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyTemplateEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "保存数据",
        "description": "如果传入了id,并且对应数据存在,则尝试覆盖,不存在则新增.",
        "operationId": "save_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotifyTemplateEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageSaveResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/template/_query": {
      "get": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "使用GET方式分页动态查询",
        "operationId": "queryPager_4",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "使用POST方式分页动态查询",
        "operationId": "queryPager_1",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "设置了此值后将不重复执行count查询总数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessagePagerResultNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/notifier/template/_query/no-paging": {
      "get": {
        "tags": [
          "消息通知模版"
        ],
        "summary": "使用GET方式分页动态查询(不返回总数)",
        "description": "此操作不返回分页总数,如果需要获取全部数据,请设置参数paging=false",
        "operationId": "query_4",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "条件表达式,和terms参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id = 1"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序表达式,和sorts参数冲突",
            "schema": {
              "type": "string"
            },
            "example": "id desc"
          },
          {
            "name": "includes",
            "in": "query",
            "description": "指定要查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "指定不查询的列,多列使用逗号分隔",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].column",
            "in": "query",
            "description": "指定条件字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terms[0].termType",
            "in": "query",
            "description": "条件类型",
            "schema": {
              "type": "string"
            },
            "example": "like"
          },
          {
            "name": "terms[0].type",
            "in": "query",
            "description": "多个条件组合方式",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ]
            }
          },
          {
            "name": "terms[0].value",
            "in": "query",
            "description": "条件值",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].name",
            "in": "query",
            "description": "排序字段",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorts[0].order",
            "in": "query",
            "description": "顺序,asc或者desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageListNotifyTemplateEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseMessageListDetail"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseMessageObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageTokenState"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageObject"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "*/*": {
[...]
